<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create Todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="todoForm">
    <ion-item>
      <ion-label position="floating">Todo Title</ion-label>
      <ion-input type="text" formControlName="todo_title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color='dark'>Todo Description</ion-label>
      <ion-input type="text" formControlName="todo_description"></ion-input>
    </ion-item>
    <ion-button shape="round" color="secondary" expand="block" [disabled]="!todoForm.valid" (click)="saveTodo()">Save</ion-button>
  </form>
</ion-content>
