ion-card{
	margin: 50px auto;
	border-radius:5%;
}

ion-card:hover{
	// transform: scale(0.8);
}

ion-card-title{
	// margin-bottom: 2em;
	text-align: center;
	text-transform: uppercase;
}

ion-card-title:after {
	display: inline-block;
	margin: 0;
	height: 1px;
	content: " ";
	text-shadow: none;
	background-color: #214F4B;
	width: 90%;
}
ion-card-title:before {
	display: inline-block;
	margin: 0;
	height: 13px;
	content: " ";
	text-shadow: none;
	background-color: #214F4B;
	width: 90%;
}

ion-card-content{
	p{
		padding: 2em;
	}
}