<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Todo Details</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home"><ion-icon name="list-box"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card color="secondary">
    <ion-card-content>
      <ion-card-title>{{todo.todo_title}}</ion-card-title>

      <p>{{todo.todo_description}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
