<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Todo List
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/create"><ion-icon name="add-circle"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let todo of todos">
      <ion-item detail lines="full" routerLink="/detail/{{todo.key}}">
        <ion-icon name="clipboard" slot="start"></ion-icon>
        {{todo.todo_title}}
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="edit(todo.key)">EDIT</ion-item-option>
        <ion-item-option color="danger" (click)="delete(todo.key)">DELETE</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab routerLink="/create" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
